:root {
    --Vivid-blue: #2196f3;
    --dark-gray: #212121;
    --gray: #757575;
    --white: #ffffff;
  }



body {font-family: 'Roboto', sans-serif;
color: var(--dark-gray)}

ul{
    list-style-type: none;
}

a {text-decoration: none;}

a:hover, a:focus {
    color: var(--Vivid-blue);;
  }

  button{
    cursor: pointer;
  }

  button:hover, button:focus {background:var(--Vivid-blue)}

nav{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}   



.footer-address {
    display: block;
    font-style: normal;
    color: var(--white);
}
.footer-address a{
    color: var(--white);
}

.footer-address a:hover, .footer-address a:focus{
    font-weight: 900;
    color: var(--white);

}

.site-footer{
    height: 252px;
background: #2F303A;
}

.solutions {
    height: 600px;
    background-color: #2F303A;}

.solutions h1 {
    height: 120px;
font-weight: 900;
line-height: 60px;
/* or 136% */
text-align: center;
color: var(--white);

   } 

.completed-jobs h3{
font-weight: 700;
font-size: 18px;
line-height: 200%;
    }

 .completed-jobs p{
            font-size: 16px;
            line-height: 188%;
            color: var(--gray);
            
        }    

    a.logo {font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--Vivid-blue);}

        
    

            footer{height: 252px;
                left: 0px;
                top: 2097px;
                
                background: #2F303A;}

             footer.address{
                font-family: 'Roboto';
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: var(--white);}
             }   